name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-job:
    runs-on: self-hosted

    steps:
      - name: Run tests
        run: npm start

