name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-job:
    runs-on: self-hosted

    steps:
      - name: Chage Path
        run: cd C:\SAGAR\ringc_test\github_cicd

      - name: pull repo
        run: git pull origin main

      - name: run code
        run: npm start

