name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  # pull_request:
  #   branches:
  #     - main

jobs:
  build-and-test:
    runs-on: self-hosted

    defaults:
      run:
        working-directory: C:\SAGAR\ringc_test\github_cicd

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        
      - name: Run tests
        run: npm start

